.menu {
  @apply sticky top-0 z-50;
  .nav {
    @apply flex items-center justify-between bg-primary px-4 lg:px-16 py-5;

    .logo {
      @apply flex;
    }

    .links {
      @apply hidden lg:flex gap-10;

      a {
        @apply decoration-0 text-white uppercase;

        &.active {
          @apply text-gray-400 font-bold;
        }
      }
    }

    .buttons {
      @apply hidden lg:flex gap-7;
    }

    select {
      @apply bg-primary text-white px-2 py-2;
    }
  }

  .nav2 {
    @apply hidden lg:flex items-center justify-between px-4 lg:px-16 py-4 bg-white border-b border-b-primary;
    .devices {
      @apply flex justify-center gap-5;

      a {
        @apply flex items-center decoration-0 text-primary uppercase gap-3;

        .new:after {
          position: relative;
          font-size: 0.5em;
          content: "new";
          top: -1em;
          font-weight: bold;
        }
      }
    }

    .socials {
      @apply flex gap-5;
    }
  }
}
