.container {
  @apply relative flex justify-center;

  .first {
    @apply z-20;
  }

  .second, .third, .fourth, .fifth {
    @apply absolute bottom-7 transition-transform duration-1000 ease-in-out;
  }

  .second.moved {
    transform: translate(40%, 0) rotate(20deg);
  }

  .third.moved {
    @apply delay-200;
    transform: translate(65%, 0) rotate(40deg);
  }

  .fourth.moved {
    @apply delay-300;
    transform: translate(90%, 0) rotate(50deg);
  }

  .fifth.moved {
    @apply delay-500;
    transform: translate(110%, 5%) rotate(60deg);
  }
}
